body {
    background: url('/public/content/background_.jpg');
    background-size: cover;
}
.centered {
    text-align: center;
    margin: auto;
}
.centered h1,
h5,
h6,
.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: white;
}
h1 {
    font-size: 90px;
}
h5 {
    font-size: 35px;
    font-style: italic;
}
h6 {
    font-size: 20px;
    font-style: italic;
}
.special:hover {
    background-color: transparent;
    border-color: #FFFFFF;
}

.location_row{
    min-height: 70px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    border-radius: 5px;
}

.location_row *{
    color: white;
    margin: 5px 0 0 5px;
}

.location_row .fa{
    color: white;
    margin: 5px;
}

.place{
    font-weight: bold;
    font-size: 120%;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
}

.time_range{
    text-align: center;
    margin: 0;
    padding: 0;
}

.edit_input_title{
    margin: 20px;
    font-size: 400%;
    color: black;
    height:auto;
}

.edit_textarea_description{
    margin: 20px;
    color: black;
    font-size: 80%;
    height: auto;
}

a:not([href]) {
    color: white;
}

a:not([href]):hover {
    color: white;
}

.panel-success{
    margin-top: 10px;
}

.panel-heading{
    border-radius: 5px;
}