.footer {
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.content {
	margin-top: 15px;
}

.content-children {	
	border:1px solid gray;
	margin:0px;
	background-color: rgb(248,248,248);
}

#website-name {
	text-align: center;
}

#body-login {
	background-color: #A8CD1B;
}

#body-index {
	background-color: #A8CD1B;
}

.login-button {
	font-size: 17px;
}

#login-li > a {
	margin-right: -25px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}

.tiles {  
    display: inline-block;
    width: 29px;
    height: 29px;
    padding: 7px 7px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #95B3D7;
    border-radius: 50px;
}

.sleepTime {
    color: #BE6E6F;	
	background-color: #EBCCD1;
}

.freeTime {
	background-color: #5cb85c;
}

.startTime {
    font-size: 10px;
    background-color: orange;
    color: white;
    padding: 2px;
    padding-top: 9px;
}

#slide-bar {
    border: 2px dotted orange;
    position: fixed;
    z-index: 1;
    border-radius: 5px;
    transition-duration: 0.4s, 0.01s;
    transition-delay: 0s, 0.1s, 0.1s, 0s;
}


	 