
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 centered">
        <input tyle="text" class="form-control edit_input_title" ng-model="title">
        <h5><i class="fa fa-home"></i> {{ home.location}}, {{home.country}} <br/>
            <textarea rows="5" class="form-control edit_textarea_description" ng-model="description"></textarea>
            <a href="#" ng-click="saveEventInfo()" class="btn special btn-lg btn-outline-success">SAVE</a>
            <a ng-href="event#/{{id}}" class="btn special btn-lg btn-outline-danger">CANCEL</a>
        </h5>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div ng-repeat = "location in locations" class="location_row">
            <div class="row">
                <div class="col-md-2">
                    <p>{{ location.timeZoneId }}</p>
                    <i ng-if="location.isHome" class="fa fa-home fa-row-icon fa-2x"></i>
                </div>
                <div class="col-md-3">
                    <div class="place">{{ location.location }}</div>
                    <div class="country">{{ location.country }}</div>
                </div>
                <div class="col-md-3 time_range">     
                    <div class="place">{{ calTimeRange(location.timeZoneId) }}</div>
                    <div class="country">{{ calDaysRange(location.timeZoneId) }}</div>
                </div>
            </div>
        </div>   
    </div>
</div>