
<div class="row">
    <div class="col-md-12 centered">
        <h1>{{title}}</h1> 
        <h5><i class="fa fa-home"></i> {{ home.location}}, {{home.country}} <br/>
            <h6>{{description}}</h6>
            <a ng-href="event#/editEvent/{{id}}" class="btn special btn-lg btn-outline-primary">EDIT INFORMATION</a>
            <a ng-click="getShortLink()" class="btn special btn-lg btn-outline-success">GET SHORT LINK</a>
            <a ng-click="addYourTime()" class="btn special btn-lg btn-outline-danger">ADD YOUR TIME</a>
        </h5>
    </div>
</div>

<div class="row short_link" ng-show="shortLink != false">
    <div class="col-md-4 col-md-offset-4">
    <div class="panel-success">
            <div class="panel-heading">
                Your short link is: <a href="{{shortLink}}">{{shortLink}}</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div ng-repeat = "location in locations" class="location_row">
            <div class="row">
                <div class="col-md-2">
                    <p>{{ location.timeZoneId }}</p>
                    <i ng-if="location.isHome" class="fa fa-home fa-row-icon fa-2x"></i>
                </div>
                <div class="col-md-3">
                    <div class="place">{{ location.location }}</div>
                    <div class="country">{{ location.country }}</div>
                </div>
                <div class="col-md-3 time_range">     
                    <div class="place">{{ calTimeRange(location.timeZoneId) }}</div>
                    <div class="country">{{ calDaysRange(location.timeZoneId) }}</div>
                </div>
            </div>
        </div>   
    </div>
</div>