<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MainController">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">        
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel='stylesheet'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
        <link href="main.css" rel='stylesheet'>
        <link href="css/style.css" rel='stylesheet'>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
        <script type="text/javascript" src="ResizeSensor.js"></script>

        <title>World Clock - CES Summer</title>
    </head>
    <body>

    <div class="container">

    <div class="panel panel-success">
        <div class="panel-heading">Current user</div>
        <div class="panel-body" ng-show="user != false">Hello, {{ user.username }} <a class="btn btn-outline-danger" ng-href="/logout">Log out</a></div>
        <div class="panel-body" ng-show="user == false">Please <a class="btn btn-outline-success" ng-href="/login">login</a> to save your data</div>
      </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          World Clock
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <input id="pac-input" class="controls" type="text" placeholder="Search for location">
                </div>
            </div>

            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
            <script src="content/js/moment-with-locales.js"></script>
            <script src="content/js/moment-timezone-with-data-2010-2020.js"></script>
            <script src="main.js"></script>

            <script>
                        function initAutocomplete() {
                            // Create the search box and link it to the UI element.
                            var input = document.getElementById('pac-input');
                            var searchBox = new google.maps.places.SearchBox(input);
                            // Listen for the event fired when the user selects a prediction and retrieve
                            // more details for that place.
                            searchBox.addListener('places_changed', function () {
                                var places = searchBox.getPlaces()[0];
                                if (places.length == 0) {
                                    return;
                                }

                                //var result = JSON.stringify(places);
                                //console.log(result);
                                var resultHTML = "<tr>";
                                var location = "";
                                var country;
                                var timezone;
                                for (var key in places.address_components) {
                                    //console.log(places.address_components[key].long_name);
                                    if (places.address_components[key].types[0] == "locality"
                                            || places.address_components[key].types[0] == "administrative_area_level_1") {
                                        location += places.address_components[key].long_name + " ";
                                    }

                                    if (places.address_components[key].types[0] == "country") {
                                        country = places.address_components[key].long_name;
                                    }
                                }
                                //get timezone
                                var myURL = 'https://maps.googleapis.com/maps/api/timezone/json?'
                                        + 'location=' + places.geometry.location.lat()
                                        + '%2C' + places.geometry.location.lng()
                                        + '&timestamp=' + (Date.now() / 1000)
                                        + '&key=AIzaSyBB-frDO8hpNAU7PZ5TwwkpFXfh3PDJBOw';
                                $.ajax({
                                    url: myURL,
                                    type: "GET",
                                    dataType: 'json',
                                    success: function (data) {
                                        //data.timeZoneId 
                                        timezone = data;
                                        var newLocation = {
                                            location: location,
                                            country: country,
                                            timezone: timezone
                                        }
                                        angular.element(document.getElementById('sort')).scope().addLocation(newLocation);
                                        $('#pac-input').val('');
                                    },
                                    error: function (XMLhttpsRequest, textStatus, errorThrown) {
                                        alert("Status: " + textStatus);
                                        alert("Error: " + errorThrown);
                                    }
                                });
                            });
                        }

            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB-frDO8hpNAU7PZ5TwwkpFXfh3PDJBOw&libraries=places&callback=initAutocomplete&language=en"
            async defer></script>
            <!-- My google timezone key: AIzaSyBB-frDO8hpNAU7PZ5TwwkpFXfh3PDJBOw -->

            <div>
                <input type="date" ng-model="date"> date----> {{ date }}
            </div>    
            <div class="row">        
                <div class="col-md-12">
                    <span>
                        <i ng-click="sortAsc()" ng-class="hasLocationInList() ? '' : 'inactive'" class="fa fa-sort-up fa-3x"></i> 
                        <i ng-click="sortDesc()" ng-class="hasLocationInList() ? '' : 'inactive'" class="fa fa-sort-down fa-3x"></i>
                        <a ng-click="openInGoogleCalendar()" class="btn btn-outline-success">
                        <i class="fa fa-calendar"></i> Open in Google Calendar</a>
                        <a ng-click="saveEvent()" class="btn btn-outline-primary">
                        <i class="fa fa-flash"></i> Event</a>
                    </span>                    
                </div>
            </div>
            <div id="sort" class="grid table">
                <div id="slide-bar" class="customized" style="{{timeSelector.style}}">                                
                </div>
                <div class="wrapper">
                    <div ng-repeat="location in locations" class="location_row">
                        <div class="row entired_row" data-order="none">
                            <div class="col-md-4">
                                <div class="row location_info">
                                    <div class="col-md-2 option">
                                        <i ng-if="location.isHome" class="fa fa-home fa-row-icon fa-2x"></i>
                                        <i ng-if="!location.isHome" ng-click="setHome($index)" class="fa fa-row-icon fa-home"></i>
                                        <br/>
                                        <i ng-click = "removeLocation($index)" class="fa fa-row-icon fa-times"></i>
                                    </div>
                                    <div class="col-md-2 timezone_info">
                                        <div class="timezone_chenh_lech">
                                            <span ng-if="location.isHome"></span>
                                            <span ng-if="!location.isHome">{{ calTimezone($index) }}</span>
                                        </div>
                                        <div class="timezone_abbr"><code>{{ location.timezone_z }}</code></div>
                                    </div>
                                    <div class="col-md-6 place_info">
                                        <div class="place">{{ location.location }}</div>
                                        <div class="country">{{ location.country }}</div>
                                    </div>
                                    <div class="col-md-2 time_info">
                                        <div class="time">
                                            <span>{{ location.currentTime.split(':')[0] }}</span>
                                            <span class="blinker">:</span>
                                            <span>{{ location.currentTime.split(':')[1] }}</span>
                                        </div>
                                        <div class="date">{{ location.currentDate }}</div>
                                    </div>
                                </div>
                            </div>

                                <div class="col-md-8 disable_drag" ng-mousemove="onMouseMove($event)" ng-mousedown="onMouseDown($event)" ng-mouseup="onMouseUp($event)">
                                    <!-- <ul style="padding-top: 24px; margin-right: 25px;" class="location_timeline disable_drag">
                                        <li class="{{'tiles ' + x.classCss}}" ng-repeat="x in location.tilesView">{{ x.hour }}</li>
                                    </ul> -->

                                    <!-- <div> -->
                                        <div id="{{ x.id }}" ng-mousedown="onMyMouseDown($event)" ng-mouseup="onMyMouseUp($event)" class="{{'tiles ' + x.classCss}}" ng-repeat="x in location.tilesView">{{ x.hour }}</div>
                                    <!-- </div> -->
                                    <h1>{{location.timeRangeView}}</h1>
                                    <!-- <h1>{{onMouseMoveResult}}</h1>
                                    <h1>{{onMouseDownResult}}</h1> 
                                    <h1>{{onMouseUpResult}}</h1>  -->                        
                                </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Google Map</div>
        <div class="panel-body">Content</div>
      </div>
    </div>
        </div> <!-- div container -->
    </body>

    <script>       
        $("#sort .wrapper").sortable({axis: 'y', cursor: 'move', cancel: '.disable_drag'}).disableSelection();
    </script>

</html>