<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MainController">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="images/logo.png">        
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel='stylesheet'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
        <link href="main.css" rel='stylesheet'>
        <link href="css/style.css" rel='stylesheet'>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
        <script type="text/javascript" src="ResizeSensor.js"></script>

        <title>World Clock - CES Summer</title>

    </head>
    <body ng-cloak>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"> <span class="heading-text"><img src='images/logo.png' width="50px">  World Clock</span>
                    </a>                    
                </div>
                <div ng-show="user != false">
                    <span class="heading-text">Hello, {{ user.username }} </span><a class="btn btn-outline-warning" ng-href="/logout">Log out</a></div>
                <div ng-show="user == false">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control vcenter" placeholder="username" ng-model="username">
                            </div>
                            <div class="col-md-3">
                                <input type="password" class="form-control" placeholder="password" ng-model="password">
                            </div>                            
                            <div class="col-md-3 pull-right">
                                <button class="btn btn-outline-warning" ng-click="login()">Login</button>
                                <a class="btn btn-outline-warning" ng-href="/account/account.html#/register">Register</a>
                            </div>
                            <div class="col-md-3">{{ content }}</div>
                        </div>
                </div>
              </div>
            </nav>
        </div>
    </div>   

    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="heading-text">World Clock</span>
        </div>
        <div class="panel-body">
            <input type="hidden" id="timeStamp" value="{{timeStamp}}">

            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
            <script src="content/js/moment-with-locales.js"></script>
            <script src="content/js/moment-timezone-with-data-2010-2020.js"></script>
            <script src="main.js"></script>

            <script>
                        function initAutocomplete() {
                            // Create the search box and link it to the UI element.
                            var input = document.getElementById('pac-input');
                            var searchBox = new google.maps.places.SearchBox(input);
                            // Listen for the event fired when the user selects a prediction and retrieve
                            // more details for that place.
                            searchBox.addListener('places_changed', function () {
                                var places = searchBox.getPlaces()[0];
                                if (places.length == 0) {
                                    return;
                                }

                                //var result = JSON.stringify(places);
                                //console.log(result);
                                var resultHTML = "<tr>";
                                var location = "";
                                var country;
                                var timezone;
                                for (var key in places.address_components) {
                                    //console.log(places.address_components[key].long_name);
                                    if (places.address_components[key].types[0] == "locality"
                                            || places.address_components[key].types[0] == "administrative_area_level_1") {
                                        location += places.address_components[key].long_name + " ";
                                    }

                                    if (places.address_components[key].types[0] == "country") {
                                        country = places.address_components[key].long_name;
                                    }
                                }
                                //get timezone

                                var timeStamp = $('#timeStamp').val();
                                console.log(timeStamp);
                                var myURL = 'https://maps.googleapis.com/maps/api/timezone/json?'
                                        + 'location=' + places.geometry.location.lat()
                                        + '%2C' + places.geometry.location.lng()
                                        + '&timestamp=' + timeStamp
                                        + '&key=AIzaSyBB-frDO8hpNAU7PZ5TwwkpFXfh3PDJBOw';
                                $.ajax({
                                    url: myURL,
                                    type: "GET",
                                    dataType: 'json',
                                    success: function (data) {
                                        console.log(data); 
                                        timezone = data;
                                        var newLocation = {
                                            location: location,
                                            country: country,
                                            timezone: timezone
                                        }
                                        angular.element(document.getElementById('sort')).scope().addLocation(newLocation);
                                        $('#pac-input').val('');
                                    },
                                    error: function (XMLhttpsRequest, textStatus, errorThrown) {
                                        alert("Status: " + textStatus);
                                        alert("Error: " + errorThrown);
                                    }
                                });
                            });
                        }

            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB-frDO8hpNAU7PZ5TwwkpFXfh3PDJBOw&libraries=places&callback=initAutocomplete&language=en"
            async defer></script>
            <!-- My google timezone key: AIzaSyBB-frDO8hpNAU7PZ5TwwkpFXfh3PDJBOw -->
            <div class="row">        
                <div class="col-md-1">
                    <span>
                        <i ng-click="sortAsc()" ng-class="hasLocationInList() ? '' : 'inactive'" class="fa fa-chevron-up"></i> 
                        <i ng-click="sortDesc()" ng-class="hasLocationInList() ? '' : 'inactive'" class="fa fa-chevron-down"></i>                        
                    </span>                    
                </div>
                <div class="col-md-3">
                    <a ng-click="openInGoogleCalendar()" class="btn btn-outline-success">
                        <i class="fa fa-calendar"></i> Google Cal</a>
                        <a ng-click="saveEvent()" class="btn btn-outline-primary">
                        <i class="fa fa-flash"></i> Event</a>
                </div>
                <div class="col-md-4">
                    <input id="pac-input" class="controls" type="text" placeholder="  Search for location">
                </div>
                <div class="col-md-4">
                    <input type="date" ng-model="date" class="form-control">
                </div>    
            </div>
            <div id="sort" class="grid table">
                <div ng-mouseleave="onSlideBarMouseLeave($event)" id="slide-bar" class="customized" style="{{timeSelector.style}}"></div>
                <div class="wrapper">
                    <div ng-repeat="location in locations" class="location_row">
                        <div class="row entired_row" data-order="none">
                            <div class="col-md-4">
                                <div class="row location_info">
                                    <div class="col-md-2 option">
                                        <i ng-if="location.isHome" class="fa fa-home fa-row-icon fa-2x"></i>
                                        <i ng-if="!location.isHome" ng-click="setHome($index)" class="fa fa-row-icon fa-home"></i>
                                        <br/>
                                        <i ng-click = "removeLocation($index)" class="fa fa-row-icon fa-times"></i>
                                    </div>
                                    <div class="col-md-2 timezone_info">
                                        <div class="timezone_chenh_lech">
                                            <span ng-if="location.isHome"></span>
                                            <span ng-if="!location.isHome">{{ calTimezone($index) }}</span>
                                        </div>
                                        <div class="timezone_abbr"><code>{{ location.timezone_z }}</code></div>
                                    </div>
                                    <div class="col-md-6 place_info">
                                        <div class="place">{{ location.location }}</div>
                                        <div class="country">{{ location.country }}</div>
                                    </div>
                                    <div class="col-md-2 time_info">
                                        <div class="time">
                                            <span>{{ location.currentTime.split(':')[0] }}</span>
                                            <span class="blinker">:</span>
                                            <span>{{ location.currentTime.split(':')[1] }}</span>
                                        </div>
                                        <div class="date">{{ location.currentDate }}</div>
                                    </div>
                                </div>
                            </div>

                                <div class="col-md-8 disable_drag" ng-mousemove="onMouseMove($event)" ng-mousedown="onMouseDown($event)" ng-mouseup="onMouseUp($event)">
                                    <div style="{{ tilesStyle }}">
                                        <div id="{{ x.id }}" ng-mousedown="onMyMouseDown($event)" ng-mouseup="onMyMouseUp($event)" class="{{'tiles ' + x.classCss}}" ng-repeat="x in location.tilesView">{{ x.hour }}</div>
                                    </div>
                                    <h3><img src='images/clock.png' style="{{clockIcon}}" width='50px'><span class="label">{{location.timeRangeView}}</span></h3>
                                    <!-- <h1>{{onMouseMoveResult}}</h1>
                                    <h1>{{onMouseDownResult}}</h1> 
                                    <h1>{{onMouseUpResult}}</h1>  -->
                                </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><span class="heading-text">Google Map</span></div>
        <div class="panel-body">Content</div>
      </div>
    </div>
        </div> <!-- div container -->
    </body>

    <script>       
        $(".wrapper").sortable({axis: 'y', cursor: 'move', cancel: '.disable_drag',  appendTo: '#sort', helper: 'clone', zIndex: 300 });
        $(".wrapper").disableSelection();
    </script>    
</html>