<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Login</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="css/logingooglestyle.css" rel='stylesheet' type='text/css' />
        <link href="assets/css/font-awesome.css" rel="stylesheet">
        <link href="assets/css/docs.css" rel="stylesheet" >
        <link href="css/bootstrap-social.css" rel="stylesheet" >
        <link href="css/style.css" rel="stylesheet" >

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>

    </head>

    <body id="body-login" style="background-image: url(images/world.png);">
        <!--content-starts-->
        <div class="container">
            <div ng-app="loginApp" ng-controller="loginCtrl" class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="account-wall">
                        <span id="avatar"><img class="profile-img" src="images/avatar.png" alt=""></span>
                        <form class="form-signin">
                            <a class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Login with Facebook
                            </a>
                            <a class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> Login with Google
                            </a>
                        </form>
                        <form class="form-signin" name="loginForm">
                            <input type="text" name="username" class="form-control" ng-model="username" placeholder="Username" required autofocus>

                            <span ng-show="loginForm.username.$touched && loginForm.username.$invalid" class="errorClass">* The username is required.</span>

                            <input type="password" id="password" name="password" class="form-control" ng-model="password" placeholder="Password" required>

                            <span ng-show="loginForm.password.$touched && loginForm.password.$invalid" class="errorClass">* The password is required.</span>                                                
                         
                            <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Login</button>           
                            <label class="checkbox pull-left" style="margin-left: 20px;">
                                <input type="checkbox" value="remember-me">
                                Remember
                            </label>
                            <a href="#" class="pull-right need-help">Help? </a><span class="clearfix"></span>
                        </form>
                        <a href="#" class="text-center new-account">Create a new account</a>
                    </div>

                </div>
            </div>
        </div> <!-- container-end -->    


		<script>
		var app = angular.module('loginApp', []);
		app.controller('loginCtrl', function($scope, $http) {
		    $scope.login = function () {
		    	//alert($scope.username + " " + $scope.password);
                $http.post('/login', { user: { username: $scope.username, password: $scope.password }})
                .then(function(response) {
                    $scope.content = response.data;
                    alert(response.data.user.username);
                }, function(response) {
                    $scope.content = "Something went wrong";
                });
		    };
		});

		</script>
		<style type="text/css">
			.errorClass {
				color: red;
				font-style: italic;
				font-size: 11px;
			}

		/*	#password.ng-invalid {
				margin-bottom: 1px;
			}*/

		</style>  
    </body>
</html>