html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 
    background: url('/public/content/background_.jpg');
    background-size: cover;
}

.panel{
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.panel-primary > .panel-heading{
    background-color: rgba(0, 115, 230, 0.5);
}

.heading-text{
    opacity: 1;
    color: white;
}

.controls {
    border: 1px solid black;
    border-radius: 3px;
    height: 32px;
}
#pac-input {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    width:100%;
}
#pac-input:focus {
    border-color: #4d90fe;
}
.pac-container {
    font-family: 'Open Sans', sans-serif;
}
#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}
#type-selector label {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 345px;
}
.fa-map-marker {
    position: relative;
    right: 20px;
}

.location_row{
    background-color: #D4D8D9;
    display: inline-block;
    height: auto;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    margin-top: 10px;
}

input{
    color: black;
}

.location_row *{
    padding: 2px;
}

.location_info{
    float: left;
    width:100%;
    height: 100%;
}

.location_info:hover{
    cursor: move;
}

.location_timeline{
    float: right;
    height: 100%;
}

.option{
    float: left;
}

.fa-row-icon{
    padding-left: 30px;
    padding-top: 6px;
}

.location_info .fa-2x{
    color: orange;
}

.fa:hover{
    color: orange;
    cursor: pointer;
}

.place_info{
    float: left;
    text-align: left;
}

.place{
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
}

.time_info{
    float: right;
    text-align: right;
}

.time{
    font-weight: bold;
}

.timezone_chenh_lech{
    font-weight: bold;
    color: orange; 
}

.timezone_info{
    text-align: center;
}

.inactive {
   color: #D9DDDE;
   pointer-events: none;
   cursor: default;
}

.disable_drag{
    height: 100%;
}

.date {
    font-size: 80%;
}

.time *{
    margin: 0;
    padding: 0;
}

.black{
    color: black;
}

.gray{
    color: #C9D3D6;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; 
}

nav{
    margin-top: 10px;
}

.navbar-default{
    background-color: rgba(0, 115, 230, 0);
}
