<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <script src="app.js"></script>
  <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
  <script src="http://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
  <script type="text/javascript">
      var now = moment().tz('Asia/Saigon').format();
      document.write(now);
      document.write('<br>');

      var a = moment.tz("2013-11-18 11:55", "America/Toronto");      
      document.write(a.format());
      document.write('<br>');

      var b = moment.tz("May 12th 2014 8PM", "MMM Do YYYY hA", "America/Toronto");      
      document.write(b.format());
      document.write('<br>');

      var c = moment.tz(1403454068850, "America/Toronto");      
      document.write(c.format());
      document.write('<br>');
      
      document.write(moment.tz("2013-12-01", "America/Los_Angeles").format());
      document.write('<br>');  
     
      document.write(moment.tz("2013-06-01", "America/Los_Angeles").format());
      document.write('<br>'); 

      document.write('Do it yourselves <br>'); 
      document.write(moment.tz("2016-03-13 01:30:00", "America/Los_Angeles").format());
      document.write('<br>');  
     
      document.write(moment.tz("2016-03-13 02:00:00", "America/Los_Angeles").format());
      document.write('<br>');

      document.write(moment("2012-03-11 02:59:59").tz("America/New_York").format('Z'));
      document.write('<br>');

      document.write(moment("2012-03-11 03:00:00").tz("America/New_York").format('Z'));
      document.write('<br>');

      var abbrs = {
    EST : 'Eastern Standard Time',
    EDT : 'Eastern Daylight Time',
    CST : 'Central Standard Time',
    CDT : 'Central Daylight Time',
    MST : 'Mountain Standard Time',
    MDT : 'Mountain Daylight Time',
    PST : 'Pacific Standard Time',
    PDT : 'Pacific Daylight Time',
};

moment.fn.zoneName = function () {
    var abbr = this.zoneAbbr();
    return abbrs[abbr] || abbr;
};

document.write(moment.tz([2012, 0], 'America/New_York').format('zz'));
document.write('<br>');
document.write(moment.tz([2012, 5], 'America/New_York').format('zz'));

document.write('<br>');
document.write('Guessing user zone: ----->' + moment.tz.guess());
            
  </script>

</head>
<body style="background-color: #A8CD1B; background-image: url(images/world.png);">

  <div class="container">
    <div class="panel-group">
      <div class="panel panel-default"  style="background-color: transparent;">
        <div class="panel-heading">
          World Clock
          <input type="search" name="googlesearch">
        </div>
        <div class="panel-body">
          <div ng-app="myApp" ng-controller="myCtrl">
            <div ng-repeat="x in cars">{{x.model}}</div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Google Map</div>
        <div class="panel-body">Content</div>
      </div>
    </div>
  </div>
<script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
              $scope.cars = [
              {model : "Ford Mustang", color : "red"},
              {model : "Fiat 500", color : "white"},
              {model : "Volvo XC90", color : "black"},
              {model : "sdfds", color : "blasdfdsck"}
              ];
            });
          </script>
</body>
</html>

