
    <style>
        body{
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px; 
            background: url('/public/content/background_.jpg');
            background-size: cover;
        }
        h1{
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            color: white;
        }
        input{
            margin: 10px;
        }
        .wrapper{
            width: 30%;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            padding: auto;
            border-radius: 5px;
        }

        .form-control{
            margin: auto;
            margin-top: 10px;
        }
    </style>
    <title>World clock - Register</title>
    <body>
    <div class="row">
        <div class="col-md-12">
            <center>
                <h1>Register</h1>
            </center>
        </div>      
        <div class="col-md-4">
           
        </div>  
        <div class="col-md-4 wrapper">
            <form method="POST" name="form" ng-submit="register()">
                <input type="text" class="form-control" ng-model="user.firstName" placeholder="First name">
                <input type="text" class="form-control" ng-model="user.lastName" placeholder="Last name">
                <input type="text" class="form-control" ng-model="user.username" placeholder="Username">
                <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
                <input type="password" class="form-control" ng-model="user.confirmPassword" placeholder="Confirm password">
                <center>
                    <input type="submit" class="btn btn-outline-primary" value="Register">
                    <input type="reset" class="btn btn-outline-danger" value="Reset">
                    <input type="button" class="btn btn-outline-success" value="Back" ng-click="$back();">
                </center>
            </form>
            <label ng-show="errorMsg">{{errorMsg}}</label>
        </div>
    </div>